<div ng-controller='mainController'>
		<h3>Admin Page</h3>
		<div class = "form-inline">
			<input class = "form-control" type="text" ng-model = 'newNode.name' placeholder = 'input user name'>
			<button type="submit" class = 'btn btn-warning' ng-click = 'addNode()'>Add User</button>
			<input type="text" class = "form-control" ng-model = "filter_name" placeholder = 'search user name'>
		</div>
		
		
		<table class = 'table table-striped'>
			<tr>
				<th>User Name</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat = "node in nodes | filter:filter_name | orderBy:'-created_at'">
				<td><a href="#/node/{{node._id}}">{{node.name}}</a></td>
				<td><button ng-click = 'removeNode(node._id)' class = 'btn btn-danger'><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button></td>
			</tr>
		</table>
</div>