<style type="text/css">
	#display{
		border: 4px solid brown;
		border-style: bridge;
	}
	img{
		width: 60px;
		border: 1px solid gray;
		padding: 2px;
		border-radius: 10%;
	}
	#header{
		margin: 2px;
	}
	#footer{
		position: absolute;
		bottom: -50%;
		right: 50%;
		z-index: 100;
	}

</style>
<div ng-controller='friendController'>
	<div class = "row" id = "header">
		<form class="form-inline">
			<div class = "form-group">
				<input type = "text" class="form-control" ng-model = "newNode.name" placeholder = "new name">
				<button type="submit" class = 'btn btn-primary' ng-click = 'editNode(node._id)' ng-disabled="reserve(node.name)">Edit Name</button>
				<a href="#/"><button class = 'btn btn-warning'>Start Over</button></a>
			</div>
		</form>
		
	</div>
	<div class="row col-md-12">
	  <div class="col-md-3" id = "list">
	  	<table class = 'table table-striped'>
	  		<tr>
	  			<th>Hello</th>
				<th>Avatar</th>
				<th>Connections</th>
				<th></th>
	  		</tr>
	  		<tr>
	  			<td>{{node.name}}</td>
	  			<td ng-show = "node.gender=='f'"><img src="img/{{node.gender}}{{(node.created_at).split(':')[2].slice(0,2) % 40}}.jpg"></td>
	  			<td ng-show = "node.gender=='m'"><img src="img/{{node.gender}}{{(node.created_at).split(':')[2].slice(0,2) % 6}}.jpg"></td>
	  			<td>{{node.friends.length}}</td>
	  		</tr>
	  	</table>
	  	<table class = 'table table-striped'>
			<tr>
				<th>Others({{nodes.length}})</th>
				<th>Avatar</th>
				<th>Actions</th>
				<th></th>
			</tr>
			<tr ng-show = "node._id !== v._id" ng-repeat = "v in nodes">
				<td>{{v.name}}</td>
				<td ng-show = "v.gender=='f'"><img src="img/{{v.gender}}{{(v.created_at).split(':')[2].slice(0,2) % 40}}.jpg"></td>
	  			<td ng-show = "v.gender=='m'"><img src="img/{{v.gender}}{{(v.created_at).split(':')[2].slice(0,2) % 6}}.jpg"></td>
				<td>
					<button ng-click = 'connect(v._id)' class = 'btn btn-success' ng-disabled = "!isFriend(v._id)"><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span></button>
					<button ng-click = 'disconnect(v._id)' class = 'btn btn-danger' ng-disabled = "isFriend(v._id)"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
				</td>
				<td>
					
				</td>
			</tr>
		</table>
	  </div>
	  <div class="col-md-6">
	  		<div id = "display"></div>
	  		<div style = "text-align:center;">
	  			<p>
	  				<span style = "color:steelblue" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> drag the nodes to reform the graph.
	  			</p>
	  			<p>
	  				<span style = "color:steelblue" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> double-click the node to see the direct connections of the user.
	  			</p>
	  			
	  		</div>

	  </div>
	  <div class="col-md-3" id = "rank">
	  	<table class = 'table table-striped'>
			<tr>
				<th>Rank</th>
				<th>User</th>
				<th>Avatar</th>
				<th>Friends</th>
				<th></th>
			</tr>
			<tr ng-repeat = "v in nodes | orderBy:'-friends.length'">
				<td ng-show="$index == 0" style = "color:gold;"><span class = "glyphicon glyphicon-king"></span></td>
				<td ng-show="$index == 1" style = "color:silver;"><span class = "glyphicon glyphicon-queen"></span></td>
				<td ng-show="$index == 2" style = "color:orange;"><span class = "glyphicon glyphicon-bishop"></span></td>
				<td ng-show="$index > 2" style = "color:green">{{$index + 1}}</td>
				<td>{{v.name}}</td>
				<td ng-show = "v.gender=='f'"><img src="img/{{v.gender}}{{(v.created_at).split(':')[2].slice(0,2) % 40}}.jpg"></td>
	  			<td ng-show = "v.gender=='m'"><img src="img/{{v.gender}}{{(v.created_at).split(':')[2].slice(0,2) % 6}}.jpg"></td>
				<td>
					{{v.friends.length}}
				</td>
				<td></td>
			</tr>
		</table>
	  </div>
	</div>
	
</div>