<style type="text/css">
	#display{
		border: 1px solid red;
	}
	img{
		width: 60px;
		border: 1px solid gray;
		padding: 2px;
		border-radius: 10%;
	}
	#header{
		margin: 10px;
	}

</style>
<div ng-controller='friendController'>
	<div class = "row" id = "header">
		<h4>
		Hello 
		<span style = "color:orange">{{node.name}}</span>, 
		you can connect or disconnect friends here and view your <span style = "color:green">friend circles</span>.
		</h4>
		
	</div>
	<div class="row">
	  <div class="col-md-9 col-md-push-3" id = "display">

	  </div>
	  <div class="col-md-3 col-md-pull-9">
	  	<table class = 'table table-striped'>
			<tr>
				<th>User</th>
				<th>Avatar<th>
				<th>Actions</th>
				<th></th>
			</tr>
			<tr ng-show = "node._id !== v._id" ng-repeat = "v in nodes | filter:filter_name | orderBy:'-created_at'">
				<td>{{v.name}}</td>
				<td><img src="img/zp_{{(v.created_at).split(':')[2].slice(0,2) % 40}}.jpg"></td>
				<td><button ng-click = 'connect(v._id)' class = 'btn btn-success' ng-disabled = "!isFriend(v._id)"><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span></button></td>
				<td><button ng-click = 'disconnect(v._id)' class = 'btn btn-danger' ng-disabled = "isFriend(v._id)"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button></td>
			</tr>
		</table>
	  </div>
	</div>
	
</div>